.card {
	background-color: lightblue;
	padding: 1rem;
	border-radius: .5rem;
	max-width: 240px;
	transition: ease .5s transform;
}

.card:hover {
	transform: scale(1.1);
}

img {
	width: 200px;
	height: 200px;
	object-fit: cover;
}

h3 {
	/*word-break: break-all;*/
}