.card {
	/*background-color: lightblue;*/
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 1rem;
	border-radius: .5rem;
	max-width: 240px;
	min-height: 700px;
	transition: ease .5s box-shadow;
}

.card:hover {
	/*transform: scale(1.05);*/
	box-shadow: 0px 1px 5px 2px lightgrey;
}

.img {
	width: 200px;
	height: 300px;
	object-fit: contain;
}

h3 {
	/*word-break: break-all;*/
}

button {
	color: orange;
	border-radius: 5px;
	background-color: transparent;
	padding: 1rem;
	width: 90%;
	border: 1px solid orange;
	margin: 10px;
}

button:hover {
	cursor: pointer;
	background-color: orange;
	color: #fff;
}