aside {
    background-color: grey;
    flex: 0 0 300px;
    padding: 3rem;
    max-width: 300px;
}

ul {
	list-style: none;
}

span {
	font-weight: 900;
	font-size: 1.2rem;
}

input[type='radio'] {

}