aside {
    background-color: grey;
    flex: 0 0 300px;
    padding: 3rem;
}

ul {
	list-style: none;
}

span {
	font-weight: 900;
	font-size: 1.2rem;
}

@media (min-width: 900px) {
	aside {
		max-width: 300px;
	}
}
