.search {
	display: flex;
	justify-content: center;
	padding: 2rem;
	background: linear-gradient(to right, #ff0000,#b10005) ;
}

input[type='text'] {
	padding: .7rem;
	border-top-left-radius: .5rem;
	border-bottom-left-radius: .5rem;
	border: none;
	outline: none;
}

select {
	padding: 0.65rem;
	outline: none;
	border-left: 1px grey solid !important;
	border: none;
	border-top-right-radius: .5rem;
	border-bottom-right-radius: .5rem;
}

@media (min-width: 900px) {
	input[type='text'] {
		width: 500px;
	}
}