@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: #e2e2e2;
}

@media (min-width: 900px) {
	.contenedor {
		display: flex;
	}
}

::-webkit-scrollbar {
	width: .4rem;

}

::-webkit-scrollbar-track {
	background: #fff;

}

::-webkit-scrollbar-thumb {
	border-radius: 3rem;
	background-color: #ffa500;
}

a {
	text-decoration: none;
}

.contenedor {
	background-color: #fff;
	min-height: 70vh;
}