@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

body {
	background-color: red;
}

.contenedor {
	background-color: #fff;

	/*min-height: 100vh;*/
}

a {
	text-decoration: none;
}

@media (min-width: 900px) {
	.contenedor {
		display: flex;
	}
}